<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="styling/home_style.css">
</head>
<body>
    <div class="wrapper">
        <img src="TravelBanner.jpg" alt="image">
    <h1>Welcome to our Travel Assistant</h1>
    <button class="login"><a href="/login">Login</a></button>
    <button class="Sign in"><a href="/register">Sign In</a></button>
    </div>
</body>
</html>