<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register Page</title>
    <link rel="stylesheet" href="styling/register_style.css">
</head>
<body>
    <div class="wrapper"> 
    <fieldset>
        <legend>Submit your Offers!!!</legend>
        <form method="POST" action="/Hotels">
            Hotel Name:<input type="text" placeholder="Type hotel name" name="name" value="<%=qs.name%>" required><br>
            Price Per Day:<input type="number" placeholder="Type Price" name="price" value="<%=qs.price%>" required><br>
            Discount rate:<input type="number" placeholder="Type Discount Rate" name="discount" value="<%=qs.discount%>" required><br>
            Address:<input type="text" placeholder="Type Address" name="address" value="<%=qs.address%>" required><br>
            <input type="submit" name="submit">
        </form>
    </fieldset>
    </div>
</body>
</html>