<!DOCTYPE html>
<html>
<head>
    <title>Show Offers</title>
</head>
<body>
    <h1>Details</h1>
    <table border="1">
		<tr>
			<td>ID</td>
			<td>USERNAME</td>
			<td>PASSWORD</td>
            <td>ACTION</td>
		</tr>

	<% for(var i=0; i < item.length; i++){ %>

		<tr>
			<td><%= item[i].name %></td>
			<td><%= item[i].email %></td>
            <td><%= item[i].username %></td>
            <td><%= item[i].password %></td>
		</tr>
	<% } %>

	</table>
</body>
</html>